{% extends 'flower_base.html' %}
{% load static %}

{% block content %}
<link rel='stylesheet' href="{% static 'css/GuestBook.css' %}">

    {% include "header.html" %}
<div class="GuessQ">
    <div class="nameBox">

        <a class="plus" href="/guestbook/addcomment/{{pk}}" ><div>+</div></a>


        <div class='NameBoxContainer' style="margin-top: 15px;">
            <strong>{{ name }}</strong>
            님의 방명록
        </div>
    </div>

    <div class="guestBook">
        {% for c in comments %}
        {% if c.person == request.user %}
        <div>{{ c.name }} : {{ c.comment }}</div>
        {% endif %}
        {% endfor %}
    </div>

</div>
</div>

{% endblock %}