{% extends 'base.html' %}
{% load static %}
{% block main_area %}
<link rel='stylesheet' href="{% static 'css/GuestBook.css' %}">

<div class="root">
    {% include "header.html" %}
    <div class='NameBoxContainer' style="margin-top: 15px;">
        <strong>{{ username }}</strong>
        님의 방명록
    </div>
<form action="" method="POST"  class="writeGB">
    {% csrf_token %}

    {% for f in form %}

        {{ f }}
    {% endfor %}

<button type="submit" name="login-submit" value="login" class='saveBtn'>저장하기</button>

</form>
</div>
{% endblock %}