{% extends 'elipse_base.html' %}
 {% load static %} 
 {% block content %}
 <link rel="stylesheet" href="{% static 'css/Start.css' %}" media="screen">
 <link rel="stylesheet" href="{% static 'css/login.css' %}" media="screen">

            <div class="banner_s">
                <img id='logo_s' src="{% static 'img/logo2.png' %}" alt='logo' title='logo2'/>
                <img id='flower2_s' src="{% static 'img/account/꽃 2.png' %}"  alt='flower2' title='flower2'/>
                <img id='flower3_s' src="{% static 'img/account/꽃 3.png' %}" alt='flower3' title='flower3'/>
            <img id='chat_s'src="{% static 'img/account/채팅5 1.png' %}" alt='chat' title='chat'/>
            </div>
    
    <div class="emailgo">
        <div class="email">
            입력하신 이메일로 인증 링크가<br> 전송되었습니다.<br>
            이메일에서 인증을 완료해주세요.<br>
            만약 메일이 오지 않는다면, 이메일 주소를 다시 한번 확인해 주시고, 스팸 폴더를 확인해 주세요.
        </div>

        <button class="loginGo" onclick="location.href='/login/'">로그인 </button>
    </div>
</div>
</div>
{% endblock %}