{% extends 'elipse_base.html' %} {% block content %}

<div class="ground">
  <div class="background"></div>
  <div class="banner_s">
    <img
      id="logo_s"
      src="{% static 'img/logo2.png' %}"
      alt="logo"
      title="logo"
    />
  </div>
  <img id="chat_s" src="{% static 'img/Logo.png' %}" alt="chat" title="chat" />

  <div class="findtext">
    <div id="findtext">한벛꽃님의 아이디는</div>
    <div class="inputbox">likelion210</div>
    <div id="findtext">입니다</div>
  </div>
  <div id="to_login">
    <button class="button" onClick="location.href='Login.html'">확인</button>
  </div>
</div>

{% endblock %}
