{% extends 'elipse_base.html' %}
 {% load static %} 
 {% block content %}
 <link rel="stylesheet" href="{% static 'css/Start.css' %}" media="screen">
 <link rel="stylesheet" href="{% static 'css/login.css' %}" media="screen">

  <div class="banner_s">
    <img
      id="logo_s"
      src="{% static 'img/logo2.png' %}"
      alt="logo"
      title="logo"
    />
    <img id="chat_s" src="{% static 'img/Logo_v2.png' %}" alt="chat" title="chat" />
  </div>

  <div class="findtext">
    {% if id %}

    <div id="findtext">{{user.user_name}}님의 아이디는</div>
    <div class="inputbox">{{user.user_id}}</div>
    <div id="findtext">입니다</div>
    {% else %}
    <div id="findtext">아이디가 존재하지 않습니다</div>

    {% endif %}
  </div>
  <div id="to_login">
    <button class="button" onClick="location.href='/main2'">확인</button>
  </div>

{% endblock %}
