{% extends 'elipse_base.html' %} 
{% load static %}
{% block content %}

        <div class="ground">
            <div class="background">
            </div>
            <div class="banner_s">
                <img id='logo_s' src="{% static 'img/logo2.png' %}" alt='logo' title='logo'/>
            </div>
            <img id='chat_s'src="{% static 'img/Logo.png' %}" alt='chat' title='chat'/>
            <div class='warp'>
                <form method="post">
                    {%csrf_token%}
                    <label for="username" class="form_title">아이디 찾기</div>
                    <input name="username" class='inputbox' placeholder='아이디를 입력하세요'/>
                    <button class='button' type="submit">확인</button>
                </form>
            </div>

        </div>

{% endblock %}