{% extends 'elipse_base.html' %} {% load static %} {% block content %}

<div class="ground">
  <div class="background"></div>
  <div class="banner_s">
    <img
      id="logo_s"
      src="{% static 'img/logo2.png' %}"
      alt="logo"
      title="logo"
    />
  </div>
  <img id="chat_s" src="{% static 'img/Logo.png' %}" alt="chat" title="chat" />

  <div class="find_input">
    <div>
      <h2>비밀번호 재설정</h2>
      <hr />
      <p>새 비밀번호를 입력해 주세요.</p>
      <form method="POST">
        {% csrf_token %} {{ form }}
        <button>저장</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
