{% extends 'elipse_base.html' %}
 {% load static %} 
 {% block content %}
 <link rel="stylesheet" href="{% static 'css/Start.css' %}" media="screen">
 <link rel="stylesheet" href="{% static 'css/login.css' %}" media="screen">


  <div class="banner_s">
    <img
      id="logo_s"
      src="{% static 'img/logo2.png' %}"
      alt="logo"
      title="logo"
    />
    <img id="chat_s" src="{% static 'img/Logo.png' %}" alt="chat" title="chat" />
  </div>

  <div class="find_input3">
    <div>
      <h2>비밀번호 재설정</h2>
     
      <p>새 비밀번호를 입력해 주세요.</p>
      <form method="POST">
        {% csrf_token %} {{ form }}
        <br>
        <div class='find_button'><button class='button' type="submit">확인</button></div>
      </form>
    </div>
  </div>


{% endblock %}
