{% extends 'elipse_base.html' %} {% load static %} {% block content %}

<div class="ground">
  <div class="background"></div>
  <div class="banner_s">
    <img
      id="logo_s"
      src="{% static 'img/logo2.png' %}"
      alt="logo"
      title="logo"
    />
  </div>
  <img id="chat_s" src="{% static 'img/Logo.png' %}" alt="chat" title="chat" />

  <div class="find_input">
    <div>
      <h2>패스워드 변경 완료</h2>
      <hr />
      <p>패스워드 변경이 완료되었습니다. 다시 로그인 해주세요.</p>
    </div>
  </div>
</div>

{% endblock %}
