{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="{% static 'css/Frofile.css' %}">
    <link rel="stylesheet" href="{% static 'css/Login.css' %}" >
    <link rel="stylesheet" href="{% static 'css/style.css' %}" >
    <link rel="stylesheet" href="{% static 'css/Start.css' %}" >
</head>
<body>
    <div class="root">
        <div class="ground">
            <!-- <div class="mobile_btn">
                <input type="checkbox" id="hamburger" />
                <label for="hamburger">
                  <span></span>
                  <span></span>
                  <span></span>
                </label>
                <div class="sidebar">
                    <div id="menu_title"><a href="">메뉴</a></div>
                    <div class="nav_mobile">
                        <div class="menu_list"><a href="">문제 출제하기</a></div>
                        <hr>
                        <div class="menu_list"><a href="">문제 공유하기</a></div>
                        <hr>
                        <div class="menu_list"><a href="">방명록 보기</a></div>
                        <hr>
                        <div class="menu_list"><a href="">맞춘 개수 보기</a></div>
                        <hr>
                        <div class="menu_list"><a href="">로그아웃</a></div>
                    </div>
                </div>
            </div>
            <div id="profile">
                <div id="profile_title">내 정보</div>
                <div id="profile_background">
                    <form method="post" enctype="multipart/form-data">
                        <label id='chooseFile_button'for="chooseFile">+</label>
                        <input id='chooseFile' type="file" accept="image/*" onchange="loadFile(this)" placeholder="click">
                    </form>
                </div>
            </div> -->

            <form action="{% url 'account:profile' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="ci_content">학교</div>
                <div class="ci_blank"><input required type="text" name="school" style="width: 55%;"></div>

                <div class="ci_content">전공</div>
                <div class="ci_blank"><input required type="text" name="major" style="width: 55%;"></div>

                <div class="ci_content">성별</div>
                <div class="ci_blank"><input type="text" name="gender" style="width: 55%;"></div>

                <div class="ci_content">MBTI</div>
                <div class="ci_blank"><input type="text" name="mbti" style="width: 55%;"></div>

                <div class="ci_content">나이</div>
                <div class="ci_blank"><input required type="text" name="age" style="width: 55%;"></div>

                {% if profile.image %}
                    <p><img src="{{ profile.image.url }}" alt="iamge"></p>
                {% endif %}

                <div class="ci_content">자취 유무</div>
                <div class="ci_blank"><input type="text" name="live" style="width: 55%;"></div>

                <div class="ci_content">좋아하는 음식</div>
                <div class="ci_blank"><input type="text" name="favfood" style="width: 55%;"></div>

                <div class="ci_content">주량</div>
                <div class="ci_blank"><input ype="text" name="drink" style="width: 55%;"></div>

                <div class="ci_content">고향</div>
                <div class="ci_blank"><input required type="text" name="hometown" style="width: 55%;"></div>

                {% if profile.timetable %}
                    <p><img src="{{ profile.timetable.url }}" alt="timetalbe"></p>
                {% endif %}

            <div id="profile_button">
                <button type="submit" id="save_button" onclick="Save()">저장</button>
            </div>
        </form>
            
        </div>
    </div>

    <script src="{% static 'js/Profile.js' %}"></script>
</body>
</html>

