{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <link rel="stylesheet" href="{% static 'css/Login.css' %}" >
    <link rel="stylesheet" href="{% static 'css/style.css' %}" >
    <link rel="stylesheet" href="{% static 'css/Start.css' %}" >
</head>
<body>
    <div class="root">
        <div class="ground">

            <div class="banner_s">
                <img id='logo_s' src="{% static 'img/logo2.png' %}" alt='logo' title='logo2'/>
                <img id='flower2_s' src="{% static 'img/account/꽃 2.png' %}"  alt='flower2' title='flower2'/>
                <img id='flower3_s' src="{% static 'img/account/꽃 3.png' %}" alt='flower3' title='flower3'/>

            </div>
            <img id='chat_s'src="{% static 'img/account/채팅5 1.png' %}" alt='chat' title='chat'/>
    <form action="" method="POST" class='inputboxs_sign'>
        {% csrf_token %}

        {% for form in forms %}
    <div>
        <label for="{{ form.id_for_label }}">{{ form.label }}</label>
        {{ form }}
    </div>
    {% endfor %}

    {% for form in forms %}
    {{ form.errors}}
    {% endfor %}

    
    <button type="submit" name="signup-submit" value="signup" class='button'>회원가입하기</button>
    </form>
</div>
</div>
</body>
</html>