{% extends 'elipse_base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/Login.css' %}" />
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
<link rel="stylesheet" href="{% static 'css/Start.css' %}" />


        <div class="ground">

            <div class="banner_s">
                <img id='logo_s' src="{% static 'img/logo2.png' %}" alt='logo' title='logo2'/>
                <img id='flower2_s' src="{% static 'img/account/꽃 2.png' %}"  alt='flower2' title='flower2'/>
                <img id='flower3_s' src="{% static 'img/account/꽃 3.png' %}" alt='flower3' title='flower3'/>
            <img id='chat_s'src="{% static 'img/account/채팅5 1.png' %}" alt='chat' title='chat'/>
            </div>
            
    <form action="" method="POST" class='inputboxs_sign'>
        {% csrf_token %}

        {% for form in forms %}
    <div>
        {{ form }}
    </div>
    {% endfor %}

    {% for form in forms %}
    {{ form.errors}}
    {% endfor %}
    <button type="submit" name="signup-submit" value="signup" class='signBtn'>회원가입하기</button>
    </form>
</div>
</div>
{% endblock %}
