/* profile */
#profile {
  display: flex;
  align-items: center;
  justify-content: center;
}
#profile_background {
  display: flex;
  margin-top: 10px;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: #ededed;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#profile_title,
#save_button,
#share_button {
  display: flex;
  width: 248px;
  height: 45px;
  background: #ffbebe;
  color: white;
  border-radius: 15px;
  border-color: #ffbebe;
  z-index: 3;
  margin: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: -0.04em;
  align-items: center;
  justify-content: center;
}
#profile #profile_title {
  position: absolute;
  width: 160px;
  height: 40px;
  top: 3px;
}
.information {
  width: 400px;
  flex-direction: column;
  overflow-y: scroll;
  height: 300px;
}
/* scroll */
.information::-webkit-scrollbar {
  width: 5px;
}
.information::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 10px;
}
.information::-webkit-scrollbar-track {
  /* background-color: grey; */
  opacity: 0.8;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}

.information .inputbox,
#timetable {
  margin: 5px;
  width: 280px;
  height: 40px;
  font-size: 12px;
  padding: 10px;
  color: #5f5f5f;
  font-weight: 400;
  z-index: 3;
  float: left;
  font-family: "Inter";
}
input:focus {
  outline: none;
}
.input {
  border: none;
  height: auto;
  width: auto;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  /* identical to box height */

  letter-spacing: -0.04em;

  color: #5f5f5f;
}
.input::placeholder {
  font-size: 12px;
  color: #5f5f5f;
  font-weight: 400;
  font-family: "Inter";
}

#timetable_button {
  position: absolute;
  visibility: hidden;
}
#timetable_click {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: -0.04em;

  color: #5f5f5f;

  background: #d9d9d9;
  border-radius: 10px;
  z-index: 3;
  margin: 10px;
  padding: 3px;
}
#img_container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.information .inputbox::placeholder {
  color: #5f5f5f;
  font-weight: 400;
}

#profile_button {
  position: absolute;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 560px;
  left: 30px;
}
#save_button {
  width: 70px;
}

#click_me {
  position: absolute;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 2px;
  line-height: 8px;
  letter-spacing: -0.04em;
  color: #8c8c8c;
  top: 14px;
  left: 40px;
  display: flex;
}

#chooseFile {
  visibility: hidden;
  position: absolute;
}
#chooseFile_button {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  letter-spacing: -0.04em;

  color: #5f5f5f;
}
#click_button {
  position: absolute;
}
#menu_component {
  width: 30px;
  height: 5px;
  margin: 5px;
  background: #ffbebe;
  border-radius: 5px;
}
#menu {
  position: absolute;
  z-index: 3;
  left: 10px;
  top: 30px;
}

/* hamburger button */
a {
  text-decoration: none;
  color: #8c8c8c;
}

input[id="hamburger"] {
  display: none;
}
input[id="hamburger"] + label {
  display: block;
  width: 30px;
  height: 25px;
  position: relative;
  cursor: pointer;
  z-index: 4;
}
input[id="hamburger"] + label span {
  display: block;
  position: absolute;
  width: 100%;
  height: 5px;
  background: #ffbebe;
  border-radius: 5px;
  transition: all 0.35s;
}
input[id="hamburger"] + label span:nth-child(1) {
  top: 0;
}
input[id="hamburger"] + label span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
input[id="hamburger"] + label span:nth-child(3) {
  bottom: 0;
}
input[id="hamburger"]:checked + label {
  z-index: 5;
}
input[id="hamburger"]:checked + label span {
  background: #ffbebe;
}
input[id="hamburger"]:checked + label span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
input[id="hamburger"]:checked + label span:nth-child(2) {
  opacity: 0;
}
input[id="hamburger"]:checked + label span:nth-child(3) {
  bottom: 50%;
  transform: translateY(50%) rotate(-45deg);
}
div[class="sidebar"] {
  width: 170px;
  height: 280px;
  position: fixed;
  top: -15px;
  left: -100%;
  z-index: 4;
  background: #ffffff;
  box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

input[id="hamburger"]:checked + label + div {
  position: absolute;
  left: -15px;
}

.nav_mobile {
  position: absolute;
  top: 50px;
  width: 170px;
  height: 200px;
}

#menu_title a {
  font-family: "S-CoreDream-3Light";
  position: absolute;
  left: 70px;
  top: 10px;
  font-size: 20px;
}

.menu_list {
  font-family: "S-CoreDream-3Light";
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px 0px 10px 0px;
  width: 170px;
}
.menu_list a {
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

.sidebar .menu_list a:hover {
  text-decoration: none;
  color: black;
  padding: 0;
  margin: 0;
  border: 0px;
  background: rgba(255, 239, 198, 0.5);
}

@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/* 말풍선 */
#bubble {
  width: 40px;
  height: 30px;
  background: #ffffff;
  border-radius: 15px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  /* identical to box height */

  letter-spacing: -0.04em;

  color: #8c8c8c;
  padding: 2px;

  position: absolute;
  top: 110px;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}
#bubble:after {
  content: "";
  position: absolute;
  border-bottom: 10px solid #ffffff;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  top: -10px;
  left: 22px;
}

.mobile_btn {
}

#upper_warp {
}

.profile_title {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  box-sizing: border-box;
  background: #ffffff;
  border: 2px solid #ffbebe;
  border-radius: 15px;
  width: 289px;
  height: 45px;
  padding: 10px;
  margin: 10px;
}

.inform_warp {
  margin-top: 20px;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  overflow-y: scroll;
  height: 300px;
}
