.next{
    width: 197px;
    height: 45px;

    background: #FFBEBE;
    border-radius: 15px;
    margin:  0 auto;
    margin-top: 10vh;
    color: white;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    justify-content: center;
}
.number{
    width: 58.25px;
    height: 58.25px;
    border-radius: 50%;
    margin:  0 auto;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#FF9F9F;
    font-size: 30px;
    font-weight: 800;
    margin-top:25px;
}
.QuizContainer{
    width: 270px;
    height: fit-content;

    background: #FFFFFF;
    border: 2px solid #FFBEBE;
    border-radius: 15px;

    display: flex;
    margin: 0 auto;
    margin-top: 30px;
    /*글자*/
    font-family: 'Inter';
    font-style: normal;
    font-size: 13px;
    line-height: 16px;
    text-align: center;

    color: #5F5F5F;

    word-wrap: break-word;
    display: flex;
    justify-content: center;
}

.AnsContainer{
    display: flex;
    justify-content: space-evenly;
    margin-top: 3em;
    
}

.oBox{
    width: 122px;
    height: 79px;
    text-align: center;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 2px solid #FFBEBE;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.xBox{
    width: 122px;
    height: 79px;
    text-align: center;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 2px solid #FFBEBE;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vs{
    border-radius: 50%;
    width: 23.94px;
    height: 23.94px;
    background: #FFFFFF;
    color:#8C8C8C;
    text-align: center;
    margin-top: 30px;
}