.LogoImg {
  display: block;
  height: 131px;
  margin: 0 auto;
}
/*헤더 사이즈 수정함*/

.ImgBox {
  height: 120px;
  background: #ffefc6;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-top: 15px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

@media screen and (max-width: 450px) {
  .ImgBox {
    background-color: #ffefc6;
    height: 139px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-top: 8px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
}

.header {
  padding-top: "8vh";
}
