@font-face {
  font-family: "yg-jalnan";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
#over{
  background-color: #FFE4E2;
  overflow-y: hidden;
}

button {
  cursor: pointer;
}

.header {
  position: sticky;
  top: 0;
}

.inform_text {
  display: flex;
  margin-top: 18px;
  background-color: #ffefc6;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 33px;
  justify-content: center;
  align-items: center;

}

.inform_text > p {
  color: #5f5f5f;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.04em;
}

.buttons {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.question_update {
  margin: 17px;
  height: 44px;
  width: 44px;
  background-color: white;
  border: none;
  border-radius: 15px;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  color: #5f5f5f;
  cursor: pointer;
}

.inform_chatBalloon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  width: 94px;
  height: 23px;
  background-color: white;

}

.inform_chatBalloon:after {
  content: "";
  position: absolute;
  left: 5px;
  top: 55%;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-right-color: white;
  border-left: 0;
  margin-top: -9px;
  margin-left: -9px;
}

.inform_chatBalloon > p {
  color: 5f5f5f;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: -0.04em;
}

.button {
  border-radius: 15px;
  border: none;
  width: 73px;
  height: 45px;
  margin: auto;
  margin-right: 22px;
  background-color: rgba(255, 190, 190, 1);

  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
  color: white;

  cursor: pointer;
}

.question_list {
  display: flex;
  align-items: center;
}

.question_num {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 15px;
  border: 2px solid rgba(255, 190, 190, 1);
  box-sizing: border-box;
  margin-left: 17px;
  width: 48px;
  height: 45px;
  font-weight: 400;
  font-size: 23px;
  line-height: 24px;
  letter-spacing: -0.04em;
  color: #5f5f5f;
}

.question_input {
  margin-left: 9px;
  width: 258px;
  height: 26px;
  background-color: white;
  border-radius: 15px;
  border: 2px solid rgba(255, 190, 190, 1);
  padding-left: 15px;
}

.question_input > p {
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: -0.04em;
  color: #8c8c8c;
}

.question_delete {
  width: 25px;
  height: 20px;
  margin: auto;
  margin-right: 24px;

  background: #ffffff;
  border-radius: 15px;
  border: none;
  color: #8c8c8c;
}


.vs_circle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 23px;

  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 15px;

  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: -0.04em;
  color: #8c8c8c;
}

.answer_warp {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.answer {
  display: flex;
  box-sizing: border-box;
  width: 102px;
  height: 66px;

  background: #ffffff;
  border: 2px solid #80dfa6;
  border-radius: 10px;
  padding: 10px;
  justify-content: center;
  text-align: center;
}

.answer::placeholder {
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: -0.04em;

  color: #8c8c8c;
}

#answer_true {
  border: 2px solid #80dfa6;
}

#answer_false {
  border: 2px solid rgba(236, 145, 145, 1);
}

.alert_text {
  text-align: center;
  margin-top: 12px;

  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.04em;
  color: #ff5c5c;
}

#smaller_alert {
  width: 100%;
  position: relative;
  margin: -10px 0px 0px 0px;
}

#share {
  width: 147px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#profile {
  width: 109px;
  background-color: rgba(255, 159, 159, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: auto;
  margin-left: 26px;
  margin-top : -5vh;
  bottom: 0;
}

.complete_text {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 230px;
  height: 230px;
  background: #ffffff;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 32px;
  border-radius: 100%;
}

.complete_text p {
  font-family: "yg-jalnan";
  color: #ff9f9f;
  font-size: 33px;
  text-align: center;
  padding-top: 10px;
}

#inner_circle {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 210px;
  height: 210px;
  border: #ffe4e2 solid 6px;
  border-radius: 100%;
}

.chatBalloon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  width: 169.87px;
  height: 52px;
  background: #ffffff;
  padding: 13px 26px;
  margin: auto;
  margin-top: 27px;
  margin-right: 36px;
  border-radius: 15px;
}

.chatBalloon > p {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.04em;
  color: #8c8c8c;
}

.chatBalloon:after {
  content: "";
  position: absolute;
  top: 0;
  left: 20%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: #ffffff;
  border-top: 0;
  margin-left: -10px;
  margin-top: -10px;
}
