
.banner
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
}
#logo
{
    width:200px;
}
#chat
{
    width:310px;
    z-index: 2;
    margin-top: 9vh;
}
#touch_msg {
  position: relative;

  color: gray;
}
.start_button {

  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  z-index: 2;

}

.start_button2 {

  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  z-index: 2;
  margin-top: 30vh;

}
.button {
  display: block;
  width: 248px;
  height: 45px;
  background: #ffbebe;
  color: white;
  border-radius: 15px;
  border-color: #ffbebe;
  z-index: 3;
  margin: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.04em;
}
#button:hover {
  background-color: #ff9f9f;
  border-color: #ff9f9f;
}
#touch
{
    width: fit-content;
    height: auto;
    margin:  0 auto;
    color:gray;

    z-index:2;
    margin-top: 10vh;
}
.background {
  margin-top: -60px;
  position: absolute;
  height: 700px;
  width: 400px;
  z-index: 1;
}

.ground
{

    width:400px;
    position: absolute;

}

@media screen and (max-width: 450px){
    .ground{
        width: 100vw;
    }
}
