{% block content %}

<div class="jumbotron container row">
  <div class="col-md-6">
    <h1>Add Question</h1>
    <div class="card card-body">
      <form action="" method="POST">
        {% csrf_token %} {% for form in quizform %} {{form}} {% endfor %}
        <input type="submit" name="Submit" />
      </form>
    </div>
  </div>
  <div class="col-md-6">
    <h1>Add Question</h1>
    <div class="card card-body">
      <form action="" method="POST" style="overflowY:scroll">
        {% csrf_token %} {% for form in quizform %} {{form}} {% endfor %}
        <input type="submit" name="Submit" />
      </form>
    </div>
  </div>
</div>

{% endblock %}
