{% extends 'flower_base.html' %}
{% load static %}

{% block content %}
<link rel='stylesheet' href="{% static 'css/GuestBook.css' %}">

    {% include "header.html" %}
<div class="GuessQ">
    <div class="nameBox">

        <div class='NameBoxContainer' style="margin-top: 15px;">
            <strong>{{ name }}</strong>
            님의 문제 맞춘 사람들
        </div>
        <div>몇명</div>
    </div>

    <div class="guestBook">
        <div>새내기 : 3/5</div>

    </div>

</div>
</div>

{% endblock %}
