<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>비밀번호 찾기</title>
</head>
<body>
    <form action="" method="POST">

        {% csrf_token %}
        userid : <input type="text" name="user_id">
        <input type="submit" name="userid_submit">

        {% for message in messages %}
            {{ message }}
        {% endfor %}

        {% if password %}
        <h5>'{{password}}'</h5>
        {% endif %}
    </form>
    
</body>
</html>