{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'css/Start.css' %}" media="screen">
</head>
<body>
    <div class="root"  onclick="location.href='/main2/'">
        <div class="banner">
            <img id='logo' src="{% static 'img/logo2.png' %}"alt='logo' title='logo'/>
            <img id='chat'src="{% static 'img/Logo.png' %}" alt='chat' title='chat'/>
        </div>
        <div id='touch'>화면을 터치해 주세요</div>
    </div>
</body>
</html>

