{% extends 'elipse_base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/Start.css' %}" media="screen">


        <div class="banner">
            <img id='logo' src="{% static 'img/logo2.png' %}"alt='logo' title='logo'/>
            <img id='chat'src="{% static 'img/Logo.png' %}" alt='chat' title='chat'/>
        </div>

        <div class='start_button'>
            <button class='button' onClick="location.href='/login/'">로그인</button>
            <button class='button' onClick="location.href='/signup/'">회원가입</button>
        </div>
    </div>
    
    {% endblock %}
